body {
    background-color: #373C46;
    margin: 0;
}



/*BURGERMENU*/
#menuknap {
    text-align: right;
    font-size: 3rem;
    cursor: pointer;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding-right: 10px;

}

#menu {
    transition: transform 0.3s;
    list-style-type: none;
    transform-origin: top right;
    text-align: left;
    padding-bottom: 20px;
    background-color: #373C46;
    width: 300px;
    font-family: 'Exo 2', sans-serif;
}

#burger {
    width: auto;
    z-index: 2;
    font-family: 'Exo 2', sans-serif;

}

#menu li {
    padding-top: 30px;
    display: block;
    text-align: left;
    font-family: 'Exo 2', sans-serif;


}

#menu a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;


}

.hidden {
    display: none;
}

/*BURGERMENU SLUT*/

@media only screen and (min-width: 700px) {


    #burger {
        display: none;
    }

    .sectionwrapper {
        /*
    display: flex;
    flex-wrap: wrap;
*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;



    }



}

@media only screen and (max-width: 700px) {


    .menu2 {
        display: none;
    }


}


/***/
#burger img {
    width: 200px;
    padding: 10px;
    position: absolute;
}

.menu2 {

    background-color: #28292c;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}


.menu2 a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    float: right;
    margin: 10px;
    font-family: 'Exo 2', sans-serif;
    font-weight: lighter;
    margin-top: 15px;
}

.menu2 img {
    margin: 10px;
    width: 200px;

}

.text1 {

    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 30px;
    font-weight: lighter;

}

.text2 {

    color: 28292c;
    background-color: #dedede;
    font-family: 'Exo 2', sans-serif;
    padding: 30px;

}

.text3 {
    font-family: 'Exo 2', sans-serif;
    padding: 30px;
    color: white;

}

.text4 {
    font-family: 'Exo 2', sans-serif;
    padding: 30px;
    color: white;
    /*
    flex-grow: 2;
    flex-basis: 300px;
*/


}

h2 {
    font-size: 1.8rem
}

h3 {
    font-size: 1.5rem
}

.footerinfo {
    text-align: left;
    background-color: #28292c;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 10px;
}

.splash img {
    width: 100%;
    margin: 0;

}

footer img {
    width: 50px;


}

footer ul li {
    display: inline;
    margin: 10px;
}

footer p {
    line-height: 1.7;
    text-indent: 50px;
    font-weight: lighter;

}




.container {
    width: 80%;
    min-width: 200px;
    margin: 0;
    padding: 25px;
    max-width: 500px;
    flex-grow: 1;
    flex-basis: 250px;


}

#barchart {
    /*    border: 2px solid #2ff700;*/

}

.lines {
    stroke: rgba(47, 247, 0, 0.49);
}

.bar {
    stroke: #b7b7bf;
    stroke-width: 25;
}

text {
    font-size: 0.8rem;
}




#piechart {
    padding: 10px;
    text-align: center;

}

.piechart {
    background: #ddd;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transform: rotate(-90deg);
}

.pie1 {
    fill: none;
    stroke: #26890f;
    stroke-width: 200;
    stroke-dasharray: 10 calc(200*22/7);
    transition: all 1s ease;
}

.pie2 {
    fill: none;
    stroke: #2540d3;
    stroke-width: 200;
    stroke-dasharray: 10 calc(200*22/7);
    stroke-dashoffset: -10;
    transition: all 1s ease;
}

.pie3 {
    fill: none;
    stroke: #e5e569;
    stroke-width: 200;
    stroke-dasharray: 10 calc(200*22/7);
    stroke-dashoffset: -20;
    transition: all 1s ease;
}

button img {
    width: 100px;
    height: 100px;
}

button {
    background-color: #373C46;
    border: #373C46;

}


/*VIDEO*/
.video1 {
    text-align: center;
    padding-top: 80px;
}

.video2 {
    text-align: center;
    padding-top: 80px;
}

/*VIDEO SLUT*/
