body {
    background-color: #373C46;
}





/*BURGERMENU*/
#menuknap {
    text-align: left;
    font-size: 3rem;
    cursor: pointer;
    color: white;

    font-family: 'helvetica', sans-serif;
}

#menu {
    transition: transform 0.3s;
    list-style-type: none;
    transform-origin: top right;

    text-align: left;
    padding-bottom: 20px;
    background-color: rgba(239, 170, 0, 0.9);
    width: 300px;
}

#burger {
    width: 200px;
    z-index: 2;
    margin-left: 20px
}

#menu li {
    padding-top: 30px;
    display: block;
    text-align: left;


}

#menu a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;


}

.hidden {
    display: none;
}

/*BURGERMENU SLUT*/

@media only screen and (min-width: 700px) {


    #burger {
        display: none;
    }



}

@media only screen and (max-width: 700px) {


    .menu2 {
        display: none;
    }



}


/***/

.menu2 {

    background-color: #28292c;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}


.menu2 a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    float: right;
    margin: 10px;
    font-family: 'Exo 2', sans-serif;
    font-weight: lighter;
    margin-top: 15px;
}

.menu2 img {
    margin: 10px;
    width: 200px;
}

.footerinfo {
    text-align: left;
    background-color: #28292c;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Exo 2', sans-serif;
}

.splash img {
    width: 100%;
    margin: 0;

}

footer img {
    width: 50px;


}

footer ul li {
    display: inline;
    margin: 10px;
}

footer p {
    line-height: 1.7;
    text-indent: 50px;
    font-weight: lighter;

}


.container {
    position: absolute;

    width: 50%;
    min-width: 400px;
    margin: 0 auto;


}

#barchart {
    border: 2px solid #333;

}

.lines {
    stroke: #333;
}

.bar {
    stroke: #b7b7bf;
    stroke-width: 25;
}

text {
    font-size: 0.8rem;
}
